.collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  padding: 0 3rem;
  padding-top: 2rem;
  background: linear-gradient(90deg, white, #212a2f41);
  height: 100%;
}

.checkbox {
  bottom: 0;
  grid-row: 3/4;
  grid-column: 4/5;
  display: flex;
  gap: 1rem;
}
.mainText {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.mainText h1,
.mainText h2,
.mainText h3 {
  text-transform: uppercase;
}
.mainText h3 {
  font-size: 1.3rem;
  font-weight: lighter;
}

.mainText h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.mainText h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.mainText p {
  font-size: 1rem;
}

.reddie {
  color: red;
}
.mainImage {
  height: 28rem;
  align-self: flex-end;
}
.shopNow {
  background-color: black;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  color: white;
  margin-top: 2rem;
  align-self: flex-start;
}
