.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 300;
  background-color: red;
}

header {
  display: flex;
  flex-direction: column;
}

.cartHead {
  display: flex;
  flex-direction: row;
}

.cartInfo {
  display: flex;
  flex-direction: row;
}
