* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.none {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #414f39 !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  background-position: center !important;
  transform: scale(2);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.swiper-button-prev {
  background-image: url(./assets/arrow-back-circle.svg) !important;
}

.swiper-button-next {
  background-image: url(./assets/arrow-forward-circle.svg) !important;
}

.addcart {
  background-color: white;
  border-radius: 0.4rem;
  color: #f55353;
  font-size: 2rem;
  font-weight: bolder;
  border: 0.2rem solid #f6f9fc;
  cursor: pointer;
  padding: 0 0.5rem;
}

.price {
  font-size: 1.2rem;
  font-weight: bolder;
  color: #f55353;
}

a {
  text-decoration: none;
  color: #414f39;
}

a:active {
  transform: translateY(0.1rem);
  transition: all;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
  transform: all 0.3s ease-in;
  z-index: 10;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}
