* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.none {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: #414f39 !important;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
  background-position: center !important;
  transform: scale(2);
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
}

.swiper-button-prev {
  background-image: url(./assets/arrow-back-circle.svg) !important;
}

.swiper-button-next {
  background-image: url(./assets/arrow-forward-circle.svg) !important;
}
