.CartPage {
  width: 100%;
  overflow: hidden;
  background-color: #f6f9fc;
}

.cart {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  padding-bottom: 2rem;
}
.carts {
  width: 70%;
  padding-left: 4rem;
}
.null {
  gap: 2rem;
  width: 100%;
  padding: 4rem 2rem;
}
.null h1 {
  font-size: 2rem;
  text-align: center;
}

.cartInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.2rem;
  align-items: flex-start;
  border-radius: 0.8rem;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin-bottom: 1rem;
  background-color: white;
}

.cartInfo div {
  display: flex;
}
.cartInfo div img {
  height: 5rem;
  width: 5rem;
  margin: 0rem 3rem;
}

.eachInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details h5 {
  font-size: 1.4rem;
}

.details span {
  display: flex;
  gap: 1rem;
}

.details span p {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: #444444b4;
}

.details span h2 {
  color: #d23f57;
  font-size: 1.3rem;
}

.btnDiv button {
  border-radius: 0.4rem;
  font-size: 1.1rem;
  padding: 0rem 0.5rem;
  width: 2rem;
  height: 1.8rem;
  align-content: center;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
.btnDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.firstBtn {
  background-color: white;
  border: #d23f57 0.1rem solid;
  color: #d23f57;
}
.secondBtn {
  color: grey;
  border: grey 0.1rem solid;
  background-color: white;
}

.totalAmount {
  width: 30%;
  border-radius: 0.8rem;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  padding: 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
}
.totalAmount h3 {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.totalAmount h3 :first-child {
  color: #444444b4;
}

.totalAmount hr {
  border-bottom: 0.1rem solid #2b344533;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  position: relative;
}
.comment {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.comment span {
  color: #d23f57;
  background-color: #feebeb;
  padding: 0.15rem 0.7rem;
  font-size: 0.9rem;
  border-radius: 0.4rem;
}
form textarea {
  max-width: 100%;
  max-height: 7rem;
  border: 0.1rem solid #44444448;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
}

form textarea:focus {
  border: 0.13rem solid #d23f57 !important;
  outline: none;
}

form textarea:hover {
  border: 0.12rem solid black;
  outline: none;
}

/* shippingAddress */

.shippingInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  padding: 1.2rem;
  border-radius: 0.8rem;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  margin-bottom: 1rem;
  background-color: #ffffff;
}
.shippingInfo p {
  font-weight: 600;
  color: #2b3445;
}

.shippingAddress {
  display: flex;
  gap: 3rem;
  /* transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
}

.btnGroup {
  display: flex;
  width: 100%;
  gap: 3rem;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.fees {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.fees h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fees h4 span:first-child {
  color: grey;
  font-weight: 400;
}

.fees h4 span:last-child {
  font-size: 1.2rem;
  color: #2b3445;
  font-weight: 700;
}

.totalAmount h1 {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: right;
  color: #2b3445;
}

.creditCards {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  background-color: white;
  width: 100%;
  margin-right: 1rem;
  margin-left: -0.7rem;
  border-bottom: 0.1rem solid #2b344533;
}
